<footer>
    <div class="container text-center">
        <div class="f-social">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        <div class="f-heading">&copy; Instafluencer Pvt. Ltd.</div>
        <div class="f-privacy mt-2">
            <a href="#">Privacy Policy</a>
            <span class="text-muted">•</span>
            <a href="#">Terms of Service</a>
        </div>
    </div>
</footer>